<header class="header">
  <div class="container">
    <div class="row">
      <div class="header-top  col-12">
        <div class="header-top__languages">
          <%= link_to 'English', locale_path(:en), method: :patch, :class => "language #{I18n.locale == :en ? 'language--current' : ''}" %>
          <%= link_to 'Arabic', locale_path(:ar), method: :patch, :class => "language #{I18n.locale == :ar ? 'language--current' : ''}" %>
        </div>
        <div class="header-top__socials">
          <a class="social" href="<%= Setting.twitter %>" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="social" href="<%= Setting.youtube %>" target="_blank"><i class="fab fa-youtube"></i></a>
          <a class="social" href="<%= Setting.facebook %>" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
      </div>
      <nav class="header-nav  navbar  navbar-expand-lg col-12">
        <%= link_to root_path, :class => 'navbar-brand' do %>
          <img src="<%= asset_path('logo.png') %>" alt="Al Ihsan Foundation">
      <% end %>

        <button class="navbar-toggler  collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="toggler-icon"></span>
          <span class="toggler-icon"></span>
          <span class="toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarHeader">
          <ul class="navbar-nav mr-0 ml-auto">
            <li class="nav-item">
              <!-- Data text needed for hover effects -->
              <%= link_to t('header.menu.home'), root_path, :class => 'nav-link', :data => { :letters => t('header.menu.home') } %>
            </li>
            <li class="nav-item">
              <%= link_to t('header.menu.about'), root_path(:anchor => 'about'), :class => 'nav-link', :data => { :letters => t('header.menu.about') } %>
            </li>
            <li class="nav-item">
              <%= link_to t('header.menu.sponsors'), root_path(:anchor => 'sponsors'), :class => 'nav-link', :data => { :letters => t('header.menu.sponsors') } %>
            </li>
            <li class="nav-item">
              <%= link_to t('header.menu.faq'), root_path(:anchor => 'faq'), :class => 'nav-link', :data => { :letters => t('header.menu.faq') } %>
            </li>
            <li class="nav-item">
              <%= link_to t('header.menu.receipts'), root_path(:anchor => 'buy-now'), :class => 'nav-link', :data => { :letters => t('header.menu.receipts') } %>
            </li>
            <li class="nav-item">
              <%= link_to t('header.menu.buy_now'), root_path(:anchor => 'buy-now'), :class => 'nav-btn', :data => { :text => t('header.menu.buy_now') } %>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>