<% content_for :body_class, "page" %>
<% content_for :page_title, "Cart" %>

<div class="container" >

  <h1><%= yield (:page_title) %></h1>

  <% if !@order_item.nil? && @order_item.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @order_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @order_items.size == 0 %>
    <p class="text-center">
      There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
    </p>
  <% else %>


    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Total</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @order_items.each do |order_item| %>
          <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
        <% end %>
      </tbody>
    </table>

    <hr>
    <div class="text-right" >
      <%= link_to 'Proceed to Checkout', new_charge_path, class: 'btn-yellow' %>
    </div>
  <% end %>

</div>

