<% content_for :page_title, "Al-Ihsan Pixel Website" %>
<section class="showcase">
  <div class="showcase__mask"></div>
  <div class="container">
    <div class="showcase__row-1  row  align-items-center">
      <div class="showcase__descr  col-12  col-lg-6">
        <h2><%= @pixel_product.headline_1 %></h2>
        <h1><%= @pixel_product.headline_2 %></h1>
        <%= simple_format(@pixel_product.head_description) %>
        <div class="descr__btns">
          <!-- Data text needed for hover effects -->
          <a class="descr__btn  descr__btn--1" href="#buy-now" data-text="Buy a Pixel Now">Buy a Pixel Now</a>
          <a class="descr__btn  descr__btn--2" href="#about" data-text="Learn more">Learn more</a>
        </div>
      </div>
      <% if @pixel_product.video_id %>
        <div class="showcase__video  col-12  col-sm-10  offset-sm-1  col-lg-6  offset-lg-0">
          <div class="video__descr">
            <svg class="descr__arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="31px" height="28px">
              <path fill-rule="evenodd"  fill="rgb(245, 184, 106)"
                    d="M19.435,0.605 C22.600,0.583 25.735,0.800 28.866,1.214 C29.118,1.112 29.352,1.138 29.547,1.252 C29.714,1.273 29.865,1.325 29.986,1.419 C30.227,1.545 30.342,1.766 30.345,2.015 C30.422,2.390 30.270,2.773 29.819,2.893 C29.670,2.974 29.497,3.021 29.296,3.002 C29.277,3.005 29.259,3.008 29.240,3.011 C26.703,4.601 24.414,6.462 22.350,8.634 C21.572,9.452 20.329,8.224 21.104,7.408 C22.306,6.145 23.590,4.982 24.946,3.907 C13.351,6.807 2.622,13.589 2.086,26.749 C2.040,27.866 0.286,27.864 0.332,26.738 C0.887,13.087 11.590,5.682 23.605,2.457 C22.213,2.381 20.819,2.339 19.421,2.349 C18.293,2.356 18.304,0.612 19.435,0.605 Z"/>
            </svg>
            <p class="descr__text">See where all the<br>hard work goes</p>
          </div>
          <a href="#homepageVideo1" class="video__link  afterglow">
            <video id="homepageVideo1" width="960" height="540" data-youtube-id="<%= @pixel_product.video_id %>">
            </video>
            <img class="video__preview" src="<%= asset_path('showcase_video.jpg') %>" alt="">
            <svg class="video__play-btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="137px" height="137px">
              <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                    d="M68.000,34.406 C86.553,34.406 101.594,49.447 101.594,68.000 C101.594,86.553 86.553,101.594 68.000,101.594 C49.447,101.594 34.406,86.553 34.406,68.000 C34.406,49.447 49.447,34.406 68.000,34.406 Z"/>
              <path fill-rule="evenodd"  fill="rgb(245, 184, 106)"
                    d="M64.000,57.817 L76.582,68.000 L64.000,78.182 L64.000,57.817 Z"/>
            </svg>
          </a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="showcase__sponsors  container-fluid">
    <div class="container">
      <div class="showcase__row-2  row">
        <div class="sponsors  col-12  col-xl-7">
          <h3 class="sponsors__title">Proud community<br>sponsors:</h3>
          <img src="<%= asset_path('charity-coalition.png') %>" alt="Charity Coalition" class="sponsors__items">
          <img src="<%= asset_path('children-international.png') %>" alt="Children International" class="sponsors__items">
          <img src="<%= asset_path('red.png') %>" alt="RED" class="sponsors__items">
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="about__title"><%= @pixel_product.name %></h1>
        <h2 class="about__subtitle">Purchase a pixel & help be the solution</h2>
        <div class="about__line"></div>
      </div>
      <div class="about__item  about__item--odd  col-12">
        <div class="row  align-items-center">
          <% if @pixel_product.slider_1_image_1.url || @pixel_product.slider_1_image_2.url || @pixel_product.slider_1_image_3.url %>
            <div id="homepageCarousel1" class="item__slider  carousel slide  col-12  col-lg-6">
              <ol class="carousel-indicators">
                <% if @pixel_product.slider_1_image_1.url %>
                  <li data-target="#homepageCarousel1" data-slide-to="0" class="active"></li>
                <% end %>
                <% if @pixel_product.slider_1_image_2.url %>
                  <li data-target="#homepageCarousel1" data-slide-to="1"></li>
                <% end %>
                <% if @pixel_product.slider_1_image_3.url %>
                  <li data-target="#homepageCarousel1" data-slide-to="2"></li>
                <% end %>
              </ol>
              <div class="carousel-inner">
                <% if @pixel_product.slider_1_image_1.url %>
                  <div class="carousel-item active">
                    <img src="<%= @pixel_product.slider_1_image_1.url %>" alt="">
                  </div>
                <% end %>
                <% if @pixel_product.slider_1_image_2.url %>
                  <div class="carousel-item ">
                    <img src="<%= @pixel_product.slider_1_image_2.url %>" alt="">
                  </div>
                <% end %>
                <% if @pixel_product.slider_1_image_3.url %>
                  <div class="carousel-item ">
                    <img src="<%= @pixel_product.slider_1_image_3.url %>" alt="">
                  </div>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#homepageCarousel1" role="button" data-slide="prev">
                <i class="fas fa-angle-left"></i>
              </a>
              <a class="carousel-control-next" href="#homepageCarousel1" role="button" data-slide="next">
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          <% end %>

          <div class="item__descr  col-12  col-lg-6">
            <%= @description_1.html_safe %>
          </div>
        </div>
      </div>
      <div class="about__item  about__item--even  col-12">
        <div class="row  align-items-center">
          <% if @pixel_product.slider_2_image_1.url || @pixel_product.slider_2_image_2.url || @pixel_product.slider_2_image_3.url %>
            <div id="homepageCarousel2" class="item__slider  carousel slide  col-12  col-lg-6  order-lg-2">
              <ol class="carousel-indicators">
                <% if @pixel_product.slider_2_image_1.url %>
                  <li data-target="#homepageCarousel2" data-slide-to="0" class="active"></li>
                <% end %>
                <% if @pixel_product.slider_2_image_2.url %>
                  <li data-target="#homepageCarousel2" data-slide-to="1"></li>
                <% end %>
                <% if @pixel_product.slider_2_image_3.url %>
                  <li data-target="#homepageCarousel2" data-slide-to="2"></li>
                <% end %>
              </ol>
              <div class="carousel-inner">
                <% if @pixel_product.slider_2_image_1.url %>
                  <div class="carousel-item active">
                    <img src="<%= @pixel_product.slider_2_image_1.url %>" alt="">
                  </div>
                <% end %>
                <% if @pixel_product.slider_2_image_2.url %>
                  <div class="carousel-item ">
                    <img src="<%= @pixel_product.slider_1_image_2.url %>" alt="">
                  </div>
                <% end %>
                <% if @pixel_product.slider_2_image_3.url %>
                  <div class="carousel-item ">
                    <img src="<%= @pixel_product.slider_2_image_3.url %>" alt="">
                  </div>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#homepageCarousel2" role="button" data-slide="prev">
                <i class="fas fa-angle-left"></i>
              </a>
              <a class="carousel-control-next" href="#homepageCarousel2" role="button" data-slide="next">
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          <% end %>
          <div class="item__descr  col-12  col-lg-6  col-xl-5  offset-xl-1  order-lg-1">
            <%= @description_2.html_safe %>
            <a href="#buy-now" data-text="Buy a Pixel Now">Buy a Pixel Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="buy-now" class="pixels">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="pixels__title">The Pixel Project - Live</h1>
        <h2 class="pixels__subtitle">Below is the project thus far. Purchase a pixel and help support our amazing projects</h2>
        <div class="pixels__line"></div>
      </div>
      <div class="pixels__buy-pixel  col-12">
        <div class="row  align-items-center">
          <div class="buy-pixel__img  col-12  col-lg-7" href="<%= asset_path('about-1.jpg') %>"  data-effect="mfp-zoom-in" >
            <!-- data-percent attribute for pixelization -->
            <div id="pixelsContainer" class="img__container" style="background-image: url('<%= asset_path('about-1.jpg') %>')"  data-percent="<%= @collected_percentage %>"></div>
          </div>
          <div class="buy-pixel__form  col-12  col-lg-5">


            <% if @days_left > 0 %>

              <div class="form__top">
                <div class="price"><%= number_to_currency @pixel_product.price, precision: 0 %> per pixel</div>
                <div class="available"><%= @pixel_product.in_stock %> Total Pixels<br><span>available</span></div>
                <div class="collected-money">
                  <p class="money__descr">collected</p>
                  <p class="money__value"><%= number_to_currency @pixel_product.money_collected, precision: 0 %></p>
                </div>
                <div class="collected-percent">
                  <p class="percent__descr">collected %</p>
                  <p class="percent__value"><%= @collected_percentage %></p>
                </div>
                <div class="progress">
                  <div class="progress__current" style="width: <%= @collected_percentage %>%"></div>
                </div>
                <div class="goal">
                  <p class="goal__descr">Goal, $</p>
                  <p class="goal__value"><%= number_to_currency @pixel_product.money_goal, precision: 0 %></p>
                </div>
                <div class="days-left">
                  <p class="days-left__descr">Left</p>
                  <p class="days-left__value"><%= @days_left %> days</p>
                </div>
                <div class="item-purchased">
                  <p class="item-purchased__descr">item purchased</p>
                  <p class="item-purchased__value"><%= @pixel_product.item_purchased %> rewards</p>
                </div>
                <div class="campaign-started">
                  <p class="campaign-started__descr">CAMPAIGN HAS BEEN STARTED</p>
                  <p class="campaign-started__value"><%= @pixel_product.from_date.strftime("%B %d, %Y") %></p>
                </div>
              </div>

              <%= form_for :order_item, :url => order_items_path,:html => {:id => 'buy_form'} do |f| %>
                <div class="form__bottom">
                  <%= f.select :quantity, (1..1000).to_a, {}, { :class => 'quantity  js-select2' } %>
                  <%= f.hidden_field :product_id, value: @pixel_product.id %>
                  <%= link_to 'Buy pixels', "#", :class => 'submit', :onclick => "jQuery('#buy_form').submit()", :data => { :text => 'Buy pixels' } %>
                </div>
              <% end %>
            <% else %>
              <%= t('product.project_completed') %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sponsors" class="recent-sponsors">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="sponsors__title">Recent Sponsors</h1>
        <h2 class="sponsors__subtitle">People who have donated to the project</h2>
        <div class="sponsors__line"></div>
      </div>
    </div>
    <div class="row">

      <% @latest_orders.each do |order| %>
        <% if !order.sponsor_name.nil? && order.sponsor_name.length > 1 %>
          <div class="sponsor  col-12  col-sm-10  offset-sm-1  col-md-6  offset-md-0  col-lg-4">
            <div class="sponsor__avatar" style="background-image: url('<%= asset_path('anonymous-avatar.jpg') %>')"></div>
            <p class="sponsor__descr">
              <%= order.sponsor_name %><br>
              <span>Personal Donation</span>
            </p>
          </div>
        <% end %>
      <% end %>

    </div>
    <div class="row">
      <a class="sponsors__btn" href="#buy-now" data-text="Become one of us">Become one of us</a>
    </div>
  </div>
</section>
<section id="faq" class="questions">
  <div class="container">
    <div class="row align-items-center">
      <div class="questions__faq  col-12  col-md-8  offset-md-2   col-lg-6  offset-lg-0">
        <h3 class="faq__title">FAQ's</h3>
        <div class="faq__line"></div>
        <div class="faq__accordion" id="accordion">
          <div class="accordion__item">
            <div class="item__heading  collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
              <h4>Where does the money go?</h4><i class="fas fa-angle-down"></i>
            </div>
            <div id="collapse1" class="item__descr  collapse " aria-labelledby="heading1" data-parent="#accordion">
              <div class="descr__wrap">
                Install a trunk guard at the base of the tree to keep works its seds nutrient and water system from being cut. Trunk ours guards also protect trees from rodents and other small animals. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, deleniti.
              </div>
            </div>
          </div>
          <div class="accordion__item">
            <div class="item__heading  collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
              <h4>Where does the money go?</h4><i class="fas fa-angle-down"></i>
            </div>
            <div id="collapse2" class="item__descr  collapse " aria-labelledby="heading2" data-parent="#accordion">
              <div class="descr__wrap">
                Install a trunk guard at the base of the tree to keep works its seds nutrient and water system from being cut. Trunk ours guards also protect trees from rodents and other small animals. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione neque quae repellendus iusto rem in quisquam voluptas voluptatibus facere incidunt odio cum cupiditate explicabo, fugit quos sit. Est omnis, in.
              </div>
            </div>
          </div>
          <div class="accordion__item">
            <div class="item__heading  collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
              <h4>Where does the money go?</h4><i class="fas fa-angle-down"></i>
            </div>
            <div id="collapse3" class="item__descr  collapse " aria-labelledby="heading3" data-parent="#accordion">
              <div class="descr__wrap">
                Install a trunk guard at the base of the tree to keep works its seds nutrient and water system from being cut. Trunk ours guards also protect trees from rodents and other small animals.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="questions__ask-question  col-12  col-md-8  offset-md-2   col-lg-6  offset-lg-0">
        <div class="wrap">
          <h3 class="ask-questions__title">Ask your Question</h3>
          <div class="ask-questions__line"></div>

          <%= render 'contact_us_form' %>
        </div>
      </div>
    </div>
  </div>
</section>