<% content_for :body_class, "page" %>
<% content_for :page_title, "Checkout" %>

<div class="container" >

  <h1><%= yield (:page_title) %></h1>
  <hr>
  <%= form_tag charge_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Total Amount: $<%= current_order.subtotal %></span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Al-Ihsan Foundation Pixel"
            data-currency="aud"
            data-name="Al-Ihsan Foundation"
            data-billing-address="true"
            data-amount="<%= current_order.total_cents %>"
            data-locale="auto"></script>
  <% end %>

</div>