<% content_for :body_class, "page" %>
<% content_for :page_title, "Checkout" %>

<div class="container" >

  <h1><%= yield (:page_title) %></h1>
  <hr>
  <%= form_tag charge_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Total Amount: $<%= format('%.2f', current_order.subtotal) %></span>
      </label>
    </article>

    <%= submit_tag 'Complete Order' %>
  <% end %>

</div>